.flex-container {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start;

    > * {
        width: 100%;
        margin: 5px;
        @media(min-width: 720px) {
            max-width: 200px;
        }
    }
}