$black:                 #000000;
$cod-gray:              #141414;
$mine-shaft:            #1f1f1f;
$mine-shaft-app:        #282828;
$mine-shaft-light:      #323232;
$dusty-gray:            #999999;

$amber:                 #f9be03;
$geebung:               #cc7b19;
$tulip-tree:            #e9a049;
$red:           		#f75f51;
$gallery:               #eeeeee;