@import 'colors';

$height: 116px;

.device {
  position: relative;
  background-color: $mine-shaft-app;
  margin: 5px;
  padding: 5px 10px;
  height: $height;
  .image {
    position: absolute;
    overflow: hidden;
    height: $height - 10px;
    left: calc(50% - 45px);
    img {
      height: calc(100% + 15px);
      overflow: hidden;
    }
  }
  span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    padding: 2px 0;
  }
  .data {
    color: $gallery;
    font-size: 38px;
    top: 0;
    right: 0;
  }
  .location {
    color: $dusty-gray;
  }
  .date {   
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
  }
  &.red {
    border: 1px solid $red;
  }
}
