@import 'colors';

$height: 116px;

.device {
    position: relative;
    background-color: $mine-shaft-app;
    margin: 5px;
    padding: 5px 10px;
    height: $height;
    width: 100%;
    transition: all 1s easy-in-out;

    @media(min-width: 650px) {
        max-width: 200px;
    }

    .close {
        top: 10px;
        right: 10px;
        font-size: 42px;
        line-height: 42px;
        color: $gallery;
        position: absolute;
        display: none;
        padding: 10px;
        z-index: 101;
    }

    &.expand {
        top: 0;
        left: 0;
        margin: 0;
        padding: 20px;
        z-index: 100;
        height: 100%;
        max-width: 100%;
        position: fixed;
        
        .close {
            display: block;
        }
        
        @media(min-width: 720px) {
            top: 10%;
            left: 10%;
            width: 80%;
            height: 80%;
        }
    }

    .image {
        position: absolute;
        overflow: hidden;
        height: $height - 10px;
        left: calc(50% - 45px);
        img {
            height: calc(100% + 15px);
            overflow: hidden;
        }
    }
    span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        padding: 2px 0;
    }
    .data {
        color: $gallery;
        font-size: 38px;
        top: 0;
        right: 0;
    }
    .location {
        color: $dusty-gray;
    }
    .date {   
        position: absolute;
        bottom: 5px;
        right: 5px;
        font-size: 12px;
    }
    &.red {
        border: 1px solid $red;
    }
}
