@import 'colors';
@import 'font';

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.app {
    height: 100%;
    background-color: $mine-shaft;
    color: $gallery;
}

a {
    color: $tulip-tree;
    text-decoration: none;
    &:hover {
        color: $geebung;
    }
}

a.link {
    color: hsla(0,0%,100%,.7);
    &:hover {
        color: $gallery;
    }
}

.wrapper {
    margin-left: 50px;
    .container {
        margin: 0 auto;
        padding: 0 20px;
    }
}

.material-icons {
    vertical-align: sub;
}