@import "colors";

.multiselect--disabled .multiselect__select {
  background-color: transparent;
}

.multiselect {
  border: 1px solid $input-border-color;
  background-color: $input-background-color;
  .multiselect__tags {
    background-color: transparent;
    .multiselect__tag {
      background-color: $primary-color;
    }
    .multiselect__tag-icon:hover {
      background-color: $primary-color;
    }
  }
  .multiselect__content {
    background-color: $input-background-color;
  }
}
