@import 'colors';

$radius: 14px;

.switch {
    position: relative;
    display: inline-block;
    margin: 0;
    line-height: 40px;
    font-weight: 600;
    div {
        color: $cod-gray;
        background-color: white;
        border-radius: $radius;
        cursor: pointer;
        padding: 5px 15px;
        font-size: 14px;
        line-height: 14px;
        &.active {
            background-color: white;
            color: $amber;
        }
    }
}