.expand-transition-active .modal-leave-active {
    transition: all .4s ease;
}
.expand-enter, .expand-leave-active {
    opacity: 0;
}

.opacity-enter-active, .opacity-leave-active {
    transition: opacity .4s ease;
}
.opacity-enter, .opacity-leave-to {
    opacity: 0;
}