.opacity-enter-active, .opacity-leave-active {
    transition: opacity .4s ease;
}
.opacity-enter, .opacity-leave-to {
    opacity: 0;
}

.slide-enter-active {
    transition: all .3s ease;
}
.slide-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-enter, .slide-leave-to {
    transform: translateX(10px);
    opacity: 0;
}