@import 'colors';

$height: 116px;

.yeelight {
    position: relative;
    background-color: $mine-shaft-app;
    margin: 5px;
    padding: 5px 10px;
    height: $height;
    .image {
        position: absolute;
        overflow: hidden;
        height: $height - 10px;
        left: calc(50% - 45px);
        img {
            height: calc(100% + 15px);
            overflow: hidden;
            cursor: pointer;
        }
    }
    .led {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .location {
        color: $dusty-gray;
        position: absolute;
        bottom: 10px;
    }
    &.red {
        border: 1px solid $red;
    }
}
