.flex-container {
    > .flex-container {
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        justify-content: flex-start;

        & > div {
            width: 100%;

            @media(min-width: 650px) {
                max-width: 210px;
            }
        }
    }
}