@import '../colors';

$top: 60px;

.sidebar {
    background-color: $cod-gray;
    position: fixed;
    float: left;
    width: 60px;
    height: calc(100% - #{$top});
    top: $top;
    transition: all .4s ease-in-out;
    overflow: hidden;

    @media(min-width: 720px) {
        width: 150px;
    }

    ul {
        li {
            padding: 5px 20px;
            a {
                display: block;
                position: relative;
                width: 100%;
                height: 45px;
                line-height: 48px;
                padding: 0;
                white-space: nowrap;
                i {
                    width: 40px;
                    height: 18px;
                    font-size: 18px;
                    vertical-align: middle;
                }
                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    vertical-align: middle;
                    font-size: 14px;
                    font-weight: 600;
                }
                &:hover {
                    color: white;
                    background-color: rgba(0,0,0,.15);
                }
            }       
        }
    }

    .bottom {
        position: absolute;
        text-align: center;
        bottom: 5px;
        left: 0;
        width: 100%;
        font-size: 14px;
        line-height: 14px;
        font-weight: 600;            
    }
}