@import '../colors';

$radius: 20px;

.switchy {
    position: relative;
    display: inline-block;
    margin: 0;
    line-height: 40px;
    font-weight: 600;
    div {
        color: $cod-gray;
        background-color: white;
        border-radius: $radius;
        cursor: pointer;
        padding: 16px 32px;
        font-size: 20px;
        line-height: 20px;
        &.active {
            background-color: white;
            color: $amber;
        }
    }
}